#output {
    margin-top: 30px;
}

#resultTable {
    border-collapse: collapse;
    width: 100%;
}
#resultTable th,
#resultTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#resultTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

